@import "styles/variables";
@import "styles/mixins";

.root {
  padding: 80px 0;
}

.wrapper {
  max-width: 1172px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    padding: 0;
  }
}

.title {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 40px;
  text-align: left;
}

.list {
  padding: 0 0 0 40px;

  @include tablet {
    padding: 0 40px;
  }

  &Item {
    list-style-image: url("~images/icons/quote.svg");
    padding-left: 12px;

    @include tablet {
      padding-left: 40px;
    }
  }
}

.review {
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;

  &Description {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.instagram {
  border: none;
  margin-top: 20px;

  @include tablet {
    margin-top: 0;
  }
}

.highlightedText {
  color: $primary;
  font-weight: 700;
  text-decoration: underline;

  &:hover {
    color: $primary-dark;
  }
}
