node_modules/
.cache/
public
src/gatsby-types.d.ts

logs
*.log
npm-debug.log*
.DS_Store
coverage
public
cache
public/static
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.idea
.vscode
.cache