$primary: #fdca09;
$primary-light: #febc0ab3;
$primary-dark: #fec00a;
$black: #101010;

$primary-green: #12571d;
$primary-green-dark: #084d13;

$breakpoint-width-mobile: 548px;
$breakpoint-width-tablet: 768px;
$breakpoint-width-tablet-big: 1092px;
$breakpoint-width-desktop: 1172px;
