@import "styles/variables";
@import "styles/mixins";

.root {
  padding: 40px 0;
  background: #f9f9f9;
}

.wrapper {
  background: #dddddd;
  max-width: 1172px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  justify-content: center;

  @include desktop {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
  }

  > svg {
    width: 100%;
    background: #f9f9f9;
  }
}
